/* colors! 
--safety-orange-blaze-orange: #ff6700ff;
--azure: #357dedff;
--maximum-yellow: #f6f740ff; */


body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comfortaa", cursive;
}
main {
    background-color: #357dedff;
    margin: 15px 15px 15px 15px;
}
.orange {
    background-color: #ff6700ff;
    width: 95%;
    position: relative;
    top: 20px;
}
.yellow {
    background-color: #f6f740ff;
    width: 95%;
    position: relative;
    top: 20px;
}
h1 {
    font-weight: bolder;
}
.col-8 {
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
}
footer {
    position: sticky;
    text-align: right;
    color: #f6f740ff;
    height: 10%;
    width: auto;
    margin-top: 30px;
    background-color: grey;
    padding-right: 10px;
}
#a-yellow {
    color: #f6f740ff;
}
#a-blue {
    color: #357dedff;
}
#a-orange {
    color: #ff6700ff;
}