/* CSS HEX 
--shadow-blue: #7a93acff;
--gunmetal: #30343fff;
--vivid-tangerine: #ea9e8dff;
--eerie-black: #1b2021ff;
--tea-green: #cadbc0ff; */
main {
    padding: 5px 5px 5px 5px;
}
#maincon {
    border: 2px black solid;
    
}
nav, h1, footer {
    font-family: 'Permanent Marker', cursive;
}
nav {
    width: 100%;
    top:0;
    z-index: 1;
}
.container {
    width: 50%;
}
footer {
    background-color: #f9ebe0ff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin: 0;
    text-align: center;
    display: none;
    
}

  