/* CSS HEX COLORS
--shadow-blue: #7a93acff;
--gunmetal: #30343fff;
--vivid-tangerine: #ea9e8dff;
--eerie-black: #1b2021ff;
--tea-green: #cadbc0ff; */

/* HEADING AND NAVIGATION */
.navbar-brand {
    color: #ea9e8dff;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    
}
.nav-link, .nav-link, .active, .nav, .justify-content-end li a {
    font-family: 'Peddana', serif;
    font-size: 30px;
    color: #cadbc0ff;
}
h1 {
    font-family: 'Pacifico', cursive;
}
p {
    font-family: 'Peddana', serif;
}
#colorme1 {
    color: #ea9e8dff;
}
#colorme2 {
    color: #cadbc0ff;
}
body {
    background-color: #7a93acff;
}
.container {
    margin: 15px 15px 15px 15px;
    border: 2px black solid;
    background-color: white;
}
