/* CSS HEX 
--shadow-blue: #7a93acff;
--gunmetal: #30343fff;
--vivid-tangerine: #ea9e8dff;
--eerie-black: #1b2021ff;
--tea-green: #cadbc0ff; */

main {
    background-color: #30343fff;
    padding-top:10%;
    padding-bottom: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    top: 2%;
    bottom: 2%;
}

nav, h1, footer {
    font-family: 'Permanent Marker', cursive;
}
nav {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}
footer {
    background-color: #f9ebe0ff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin: 0;
    text-align: center;
}

  