
/* Background Image */
body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    font-family: "Comfortaa", cursive;
}
/* Navigation Styles */
#a-yellow {
    color: #f6f740ff;
}
#a-orange {
    color: #ff6700ff;
}
#a-blue {
    color: #357dedff;
}
/* Main section elements */
main {
    background-color: #357dedff;
    margin: 15px 15px 15px 15px;
}
.orange {
    background-color: #ff6700ff;
    width: 95%;
    position: relative;
    top: 20px;
}
.yellow {
    background-color: #f6f740ff;
    width: 95%;
    position: relative;
    top: 20px;
    margin-bottom: 10px;
}
h1 {
    font-weight: bolder;
}
/* --End of Main Elements -- */

/* Color Key:  
safety-orange-blaze-orange: #ff6700ff;
azure: #357dedff;
maximum-yellow: #f6f740ff; */


